body{
    margin: 0;
    padding: 0;
}

h1{
    max-width: 320px;
    margin: 50px auto;
    text-align: center;
    background-color: #33adcc;
    color: #ffffff;
    padding: 15px;
    border: 3px solid black;
}

.card{
    margin: 0 auto;
    margin-top: 10px;
    max-width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: 0.3s;
    font-size: 0;
}

.card:hover{
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.calc-head #result{
    width: 335px;
    height: 100px;
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    padding: 0 5px;
    letter-spacing: 2px;
}

.calc-body .btn{
    width: 87px;
    height: 70px;
    font-weight: bold;
    font-size: 1rem;
    background-color: #1f2326;
    color: white;
}

.calc-body .side-btn{
    background-color: #5F4BB6;
}

.btn:hover{
    background-color: orchid;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
        padding: 1%;
    }

    h1{
        max-width: 250px;
       
    }
    .card{
        max-width: 280px;
    }

    .calc-head #result{
        width: 267px;
        height: 80px;
        font-size: 1.5rem;
    }

    .calc-body .btn{
    width: 70px;
    height: 60px;
    font-weight: bold;
    font-size: 1rem;
    background-color: #1f2326;
    color: white;
    }
}